.page-produtos {
    background-image: url('../../../../img/background-produto.jpg');
}

#download {
    background-color: #f9f6f1;
    .btn-green {
        font-size: 18px;
    }
}

#funcionalidades {
    .fa {
        float: left;
        height: 200px;
        font-size: 60px;
        margin-right: 10px;
    }
    h3 {
        margin-top: 0px;
    }
}